<div id="<%= dom_id entry %>" class="mt-16">
  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= entry.text %>
  </p>

  <p>
    <strong>Respect gained:</strong>
    <%= entry.respect_gained %>
  </p>

  <p>
    <strong>Roommate:</strong>
    <%= entry.roommate.name %>
  </p>

</div>
