<div id="<%= dom_id entry %>" class="mt-16">
  <p>
    <strong>Date:</strong>
    <span><%= entry.date %></span>
  </p>

  <p>
    <strong>Text:</strong>
    <span><%= entry.text %></span>
  </p>

  <p>
    <strong>Respect gained:</strong>
    <span><%= entry.respect_gained %></span>
  </p>

  <p>
    <strong>Roommate:</strong>
    <span><%= entry.roommate.name %></span>
  </p>

</div>
